body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #f7e3e1;
    margin: 0;
    padding: 0;
}

h1:hover {
    cursor: pointer;
}

.content {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
}

.dashboard-body {
    max-width: 40vw;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-menu {
    display: flex;
    gap: 10px;
}
.header-menu button {
    cursor: pointer;
    background-color: white;
    font-weight: bold;
    border: 1px solid #333;
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 0.8rem;
}
.header-menu button:hover {
    background-color: #f9f9f9;
}
.header-menu button:focus {
    background-color: #f9f9f9;
}

.header-text h1 {
    font-family: 'Courier New', Courier, monospace;
    font-size: 2.5rem;
    color: #333;
    margin: 0;
}

.stat {
    text-align: center;

}
.stat h2 {
    margin-bottom: 0;
}
.stat p {
    margin-top: 0;
}

.stats {
    display: flex;
    justify-content: space-evenly;
}