body {
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f7e3e1;
    min-height: 100vh;
    width: 100%;
}

form {
    padding: 2rem;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    text-align: center;
    margin-bottom: 2rem;
}

input[type="submit"] {
    color: #fff;
    background: #eeb0b6;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1.7rem;
    cursor: pointer;
    transition: 0.4s;
    border: transparent;
    width: 100%;
    height: 50px;
    border-radius: 7px;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}